HOP_HOST_PORT=8080
STAGING_HOST_PORT=1433
MASTER_HOST_PORT=5432
WAREHOUSE_HOST_PORT=5433
FRONTEND_HOST_PORT=5173

STAGING_HOST=staging
STAGING_DB=imunisasi
STAGING_PORT=1433
STAGING_USER=sa
STAGING_SA_PASSWORD=DefaultPassword123!
STAGING_PID=Developer

MASTER_HOST=master
MASTER_DB=imunisasi
MASTER_PORT=5432
MASTER_USER=postgres
MASTER_PASSWORD=postgres

WAREHOUSE_HOST=warehouse
WAREHOUSE_DB=imunisasi
WAREHOUSE_PORT=5433
WAREHOUSE_USER=postgres
WAREHOUSE_PASSWORD=postgres

WEBSERVER_HTTP_HOST_PORT=8080
WEBSERVER_HTTPS_HOST_PORT=8443
WEBSERVER_HTTPS_HOST_PORT=8443
WEBSERVER_ADMIN_HOST_PORT=2019

JWT_SECRET=abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrst
